<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <!-- link for JQuery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <!-- Boostrap CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
         crossorigin="anonymous">
     <!-- Socket Link -->
     <!-- <script type ="text/javascript" src="/socket.io/socket.io.js"></script> -->
     <script type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Login & Registration</h1>
        <% if(messages.registration) { %>
          <% for (var x of messages.registration) { %>
           <h3 style="color:red"><%= x %></h3>
          <% } %>
        <% } %>
        <div class="row">
            <div class="col">
                <h3>Registration</h3>
                <form class="form-control" action="/registration" method="post">
                    <div class="form-row ">
                      <div class="col-md-6 mb-3">
                        <label for="validationDefault01">First name</label>
                        <input type="text" class="form-control" id="name" name="fname" placeholder="First name" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Last name</label>
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name" required>
                      </div>
                      <div class="col-md-12 mb-3">
                        <label for="validationDefaultUsername">Email</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                          </div>
                          <input type="email" class="form-control" id="email" name="email" aria-describedby="inputGroupPrepend2" required>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="validationDefault03">Birthday</label>
                        <input type="date" class="form-control" id="bday" name="bday" required>
                      </div>
                      <div class="col-md-12 mb-3">
                        <label for="validationDefault04">Password</label>
                        <input type="text" class="form-control" id="password" name="password" required>
                      </div>
                      
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Register</button>
                  </form>
            </div>
            <div class="col">
                <% if(messages.login) { %>
                  <% for (var x of messages.login) { %>
                   <h3 style="color:red"><%= x %></h3>
                  <% } %>
                <% } %>
                    <h3>Login</h3>
                    <form class="form-control" action="/login" method="post">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>